import React from 'react';

import { {{ componentCamelcaseName }}PresenterProps } from '../{{componentName}}-presenter';

/**
 * use{{ componentCamelcaseName }}
 *
 * @param props
 * @returns props
 */
const use{{ componentCamelcaseName }} = (props: {{ componentCamelcaseName }}PresenterProps): {{ componentCamelcaseName }}PresenterProps => {
  return {};
};

export default use{{ componentCamelcaseName }};
