import React from 'react';

import { {{ componentCamelcaseName }}Props } from './{{componentName}}';

const use{{ componentCamelcaseName }} = (props: {{ componentCamelcaseName }}Props) => {
  return {};
};

export default use{{ componentCamelcaseName }};
