import React from 'react';
import { {{ componentCamelcaseName }}Props } from './{{componentName}}';

const use{{ componentCamelcaseName }} = ({}: {{ componentCamelcaseName }}Props) => {
  return {};
};

export default use{{ componentCamelcaseName }};
