import React from 'react';

import {{ componentCamelcaseName }} from '../{{ componentName }}';

describe('{{ componentName }}', () => {
  it('it exists', () => {
    expect({{ componentCamelcaseName }}).to.be.ok;
  });
});
