import React from 'react';
import {{ componentCamelcaseName }}, { {{ componentCamelcaseName }}Props } from './{{componentName}}';

const {{ componentCamelcaseName }}Presenter = ({}: {{ componentCamelcaseName }}Props) =>  {
  return (<{{ componentCamelcaseName }} />);
}

export default {{ componentCamelcaseName }}Presenter;
