import React from 'react';
import * as style from './{{ componentName }}.less';

export type {{ componentCamelcaseName }}Props = {}

const {{ componentCamelcaseName }} = ({}: {{ componentCamelcaseName }}Props) => {
    return (
      <div className={style.{{ className }}}>
        {{ componentName }}
      </div>
    );
}

export default {{ componentCamelcaseName }};
