import React from 'react';

import * as style from './{{ componentName }}.less';

export type {{ componentCamelcaseName }}Props = {};

/**
 * {{ componentCamelcaseName }}
 *
 * @param props
 * @returns {{ componentCamelcaseName }}
 */
const {{ componentCamelcaseName }} = (props: {{ componentCamelcaseName }}Props) => {
  return (
    <div className={style.{{ className }}}>
      {{ componentName }}
    </div>
  );
};

export { {{ componentCamelcaseName }} };
