# {{ componentCamelcaseName }}

Description of component

```react
 <{{ componentName }}/>
```



### API

| 参数 | 说明   | 类型   | 默认值 | 版本 |
| ---- | ------ | ------ | ------ | ---- |
| id   | 组件ID | string | NA     | 1.0  |
|      |        |        |        |      |
|      |        |        |        |      |



















