import React from 'react';

import {{ componentCamelcaseName }}, { {{ componentCamelcaseName }}Props } from './{{componentName}}';

const {{ componentCamelcaseName }}Presenter = (props: {{ componentCamelcaseName }}Props) => {
  return (<{{ componentCamelcaseName }} />);
}

export default {{ componentCamelcaseName }}Presenter;
